@page
@model JobApplicationMvc.Pages.Admin.JobsModel
@{
}

<h2>Jobs</h2>
<table class="table">
    <thead>
        <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Description</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var job in Model.Items)
        {
            <tr>
                <td>@job.Id</td>
                <td>@job.Title</td>
                <td>@job.Description</td>
            </tr>
        }
    </tbody>
</table>

<section>
    <form method="post" >
        <div class="form-group">
            <label asp-for="CreateModel.Title"></label>
            <input class="form-control" asp-for="CreateModel.Title" />
        </div>
        <div class="form-group">
            <label asp-for="CreateModel.Description"></label>
            <input class="form-control" asp-for="CreateModel.Description" />
        </div>
        <button class="btn btn-success" type="submit">Add This Job</button>
    </form>
</section>